
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="welcome_bakery_area cake_feature_main p_100">
	<div class="container">
		<div class="main_title">
			<h2>Địa chỉ</h2>
			<h5>1187 Tỉnh lộ 10, P. Tân Tạo, Q. Bình Tân, TP.HCM</h5>
		</div>
		<iframe src="https://maps.google.com/maps?q=1187%20T%E1%BB%89nh%20l%E1%BB%99%2010&t=&z=17&ie=UTF8&iwloc=&output=embed" width="1200" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
	

	</div>
</section>